
h1 {
  font-size: 45pt;
  font-style: italic;
  color: red;
  text-align: center;
}

:root {
  --background: #044b1f;
  --backgroundShadow: -6px 6px 15px rgba(0,0,0,0.5);
  --textshadow: 6px -6px 15px rgba(255,255,255,0.8);
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background);
}

.text {
  color: var(--background);
  font-size: 8em;
  font-weight: bold;
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  text-shadow: var(--backgroundShadow), 
               var(--textshadow);
 }